.captureModal .live--video--capture {
    display: flex;
    align-items: center;
    background: #99999920;
    color: #333333;
    padding: 12px 20px;
    border-radius: 0.25rem;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 20px;
}

.captureModal .status--circle {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    margin: 0;
}

.captureModal .gray--circle {
    background: darkgray;
}

.captureModal .live--video--capture p {
    margin: 0 auto 0 1rem;
}

.captureModal .live--video--capture .mic--icon {
    background: #ffffff;
    width: 45px;
    height: 45px;
    color: #999999;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #99999940;
    font-size: 28px;
    transition: all 0.4s cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: all 0.4s cubic-bezier(.4, 0, .2, 1);
}

.modal-header {
    border-bottom: 0;
    border-top-left-radius: 0;
    padding-bottom: 0;
}

.captureModal .nav-tabs {
    border: 0;
}

.captureModal .nav-tabs {
    border: 0;
    justify-content: center;
    margin-bottom: 40px;
}

.captureModal .nav-tabs .nav-link {
    border: 0;
    background: #7BCCB810;
    color: #7BCCB8;
    border: 1px solid #7BCCB8;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    cursor: pointer;
    font-size: 16px;
}

.captureModal .nav-tabs .active {
    background: #7BCCB8;
    color: #ffffff;
    border: 1px solid #7BCCB8;
}

.captureModal .nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0 0.5rem 0.5rem 0;
}

.captureModal .nav-tabs .nav-link svg {
    margin-right: 0.5rem;
    margin-top: -0.1rem;
    font-size: 25px;
}

.captureModal .tab-pane {
    text-align: center;
}

.captureModal .tab-pane .btn {
    background: gray;
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    padding: 15px 30px;
    border: gray;
    text-transform: uppercase;
}

.captureModal .tab-pane .btn svg {
    margin-right: 0;
    margin-top: -0.2rem;
    font-size: 25px;
}

.modal-header .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 111;
}

.error {
    color: #de0606;
    font-size: 12px;
    position: absolute;
    left: 20px;
    bottom: -2px;
}

.add--team--member--modal form .form-row, .add--member--modal form .form-row {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 15px;
}

.add--team--member--modal .error, .add--member--modal .error {
    position: relative;
    bottom: 3px;
}

.add--team--member--modal form .form-row+.form-row, .add--member--modal form .form-row+.form-row {
    margin-top: 0;
}

.add--team--member--modal form .form-group, .add--member--modal form .form-group {
    flex: 1 1;
    position: unset;
    padding-bottom: 1rem;
}

.add--member--modal form .form-group {
    position: relative;
}

.add--team--member--modal form .btn, .add--member--modal form .btn {
    padding: 0;
    color: #de0606;
    padding-bottom: 0;
    margin: 0;
    padding-top: 6px;
    border: 0;
    outline: none;
}

.add--team--member--modal form .btn:focus-visible, .add--team--member--modal form .btn:active, 
.add--member--modal form .btn:focus-visible, .add--member--modal form .btn:active {
    background: none;
    color: #de0606;
    border: 0;
}

.filter--modal .list-group-item {
    border: 0;
    padding: 0;
}

.filter--modal .list-group-item+.list-group-item {
    margin-top: 1rem;
}

.search--modal.fade .modal-dialog {
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.modal.show {
    z-index: 777777;
}

.tooltip {
    z-index: 999999;
}

.search--modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.search--modal .modal-content {
    border-radius: 0;
    border: 0;
    max-width: 700px;
    margin: auto;
}

.file--preview--modal .modal-dialog {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file--preview--modal .modal-content {
    height: calc(100% - 50px);
}

.file--preview--modal .file--flex {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.file--preview--modal .file--flex .list-group {
    background: #eeeeee60;
    flex: 1 1;
    max-width: 25%;
}

.file--preview--modal .file--flex .list-group-item {
    border: 0;
    border-bottom: 1px solid #99999940;
    border-radius: 0;
    padding: .75rem 1rem;
    background: none;
}

.file--preview--modal .file--flex .selected--file {
    background: #eeeeee;
}

.file--preview--modal .file--preview {
    background: #ffffff;
    padding: 0 2rem;
    flex: 1 1;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.file--preview--modal .modal-dialog {
    width: 100%;
    max-width: 90%;
}

.file--preview--modal .modal-title {
    display: flex;
    flex: 1 1;
    align-items: center;
}

.file--preview--modal .modal-title .dropdown {
    margin-left: auto;
    margin-right: 2rem;
}

.file--preview--modal .modal-title .dropdown-menu {
    padding: 0;
    border: 0;
    padding-top: 15px;
    background: none;
    min-width: 120px;
    inset: auto !important;
    right: 0 !important;
    transform: none !important;
    top: 100% !important;
}

.file--preview--modal .modal-title .dropdown-menu::before {
    border: 10px solid;
    border-color: transparent transparent #7BCCB8;
    content: "";
    height: 0;
    left: 20px;
    margin: auto;
    position: absolute;
    top: -5px;
    transform: translateX(-10px);
    width: 0;
}

.file--preview--modal .modal-title .dropdown-menu::before {
    left: auto;
    right: 5px;
}

.file--preview--modal .modal-title .dropdown-item {
    background: #7bccb8;
    border: 0;
    border-bottom: 1px solid #00000014;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-align: left;
    text-transform: capitalize;
}

.file--preview--modal .modal-title .dropdown-item svg {
    width: 16px;
    height: auto;
    margin-right: .5rem;
}

.file--preview--modal .modal-title .dropdown-item:hover {
    background: #5ead9a;
    color: #fff;
}

.file--preview--modal .modal-title .btn {
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    background: #eeeeee;
    border: 0;
}

.file--preview--modal .modal-title .btn:focus,
.file--preview--modal .modal-title .btn:hover {
    background: #7BCCB8;
    color: #ffffff;
    box-shadow: none;
    outline: none;
    border: 0;
}

.edit--task--modal form .input-group {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: .25rem;
}

.edit--task--modal form .input-group #send-message {
    background: #eeeeee;
    border: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    margin: auto 0 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    color: #777777;
}

.edit--task--modal form .input-group #send-message:hover {
    background: #5ead9a;
    color: #ffffff;
}

.edit--task--modal form .input-group .form-control {
    border: 0;
    background: none;
    flex: 1 1;
}

.edit--task--modal form .input-group .message--area, ul#subtasks-ul .form-group .message--area {
    flex: 1 1;
    position: relative;
    min-height: 35px;
}

ul#subtasks-ul .form-group .message--area+button {
    display: none;
}

.edit--task--modal form .input-group textarea, ul#subtasks-ul .form-group textarea {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-color: transparent;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
    resize: none;
    padding: .25rem .5rem;
    font-size: 15px;
    line-break: anywhere;
    white-space: pre-wrap;
}

.edit--task--modal form .input-group .textarea--content, ul#subtasks-ul .form-group .textarea--content {
    position: relative;
    width: 100%;
    color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    line-break: anywhere;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    text-align: start;
    padding: .25rem .5rem;
    font-size: 15px;
}

ul#subtasks-ul .form-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul#subtasks-ul li {
    border-bottom: 1px solid #dddddd50;
    margin-bottom: 0;
}

ul#subtasks-ul .form-group .form-control, ul#subtasks-ul .form-group .form-control:focus, ul#subtasks-ul .form-group .form-control:focus-visible {
    border: 0;
    box-shadow: none;
    outline: 0;
    padding: 0 1rem;
    font-size: 14px;
    line-height: 1.2;
    max-width: calc(100% - 90px);
    width: 100%;
}

ul#subtasks-ul .form-group input[type="checkbox"] {
    accent-color: paleturquoise;
    height: 12px;
    width: 12px;
    margin: 0 7px 0 3px;
}

ul#subtasks-ul .form-group svg {
    opacity: 0;
    min-width: 18px;
}

ul#subtasks-ul .form-group:hover svg {
    opacity: 1
}

.task--action--buttons {
    justify-content: flex-end;
    margin: .5rem 0 0;
    column-gap: 10px;
}

.task--action--buttons .more--actions {
    border: 0;
    padding: 0;
    background: none;
}

.add--team--member--modal form .task--action--buttons .btn {
    color: #ffffff;
    padding: .25rem 1rem;
    font-size: 14px;
}

ul#subtasks-ul {
    margin-bottom: .5rem;
}

ul#subtasks-ul .form-group input[type="checkbox"]:checked + .form-control {
    text-decoration: line-through;
}

#subtasks-ul .form-group .form-control:focus, #subtasks-ul .form-group .form-control:focus-visible, #subtasks-ul .form-group .form-control:focus-within {
    outline: none;
    border: 0;
    box-shadow: none;
}

ul#subtasks-ul .form-group button {
    border: 0;
    color: #99998E;
    background: none;
    box-shadow: none;
    font-size: 14px;
    opacity: 0;
    margin-left: auto;
}

ul#subtasks-ul .form-group button:hover {
    color: #de0606;
}

ul#subtasks-ul .form-group:hover button {
    opacity: 1;
}

ul#subtasks-ul .form-group textarea.form-control, ul#subtasks-ul .form-group textarea.form-control:focus,
ul#subtasks-ul .form-group textarea.form-control:focus-visible {
    border: 0;
    max-width: 100%;
    padding: .5rem 0;
    box-shadow: none;
    height: auto;
    font-size: 15px;
}

ul#subtasks-ul .form-group .textarea--content {
    padding: .5rem 0;
    font-size: 15px;
    line-height: 1.2;
}

ul#subtasks-ul li textarea.form-control+button {
    display: none;
}

.task--message {
    margin-bottom: 0;
    margin-top: .5rem;
    padding: .5rem .3rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
}

.task--message:hover {
    background: #eeeeee60;
}

.task--message .msg-member-info {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    width: 100%;
}

.task--message .msg-member-info .team--initial {
    width: 28px;
    min-width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.task--message .msg-member-info img {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.task--message .msg-member-info p {
    margin: 0;
    line-height: 1.2;
}

.task--message .msg-view {
    flex: 1 1;
    max-width: calc(100% - 45px);
    white-space: pre-line;
    line-break: anywhere;
  }

.task--message .msg-member-info small {
    display: block;
    font-size: 75%;
    color: #454545;
}

.task--message+.task--message {
    border-top: 1px solid #dddddd70;
    margin: 0;
}

.task--message:last-child {
    margin-bottom: 1rem;
}

.task--message .dropdown {
    margin-left: auto;
}

.task--message .dropdown .btn {
    color: #ffffff;
    padding: 0.35rem .35rem;
    border-radius: .25rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.task--message:hover .btn {
    opacity: 1;
}

.task--message .dropdown .dropdown-menu {
    right: 0;
    margin-top: 10px;
    padding: 0;
    box-shadow: none;
    background: #7BCCB8;
    padding: 0;
    min-width: max-content;
    border: 0;
}

.task--message .dropdown .dropdown-menu[data-popper-placement="top-end"] {
    margin-top: 0;
    margin-bottom: 10px;
}

.task--message .dropdown .dropdown-menu::before {
    border: 8px solid;
    border-color: transparent transparent #7BCCB8;
    content: "";
    height: 0;
    right: 5px;
    margin: auto;
    position: absolute;
    top: -16px;
    width: 0;
}

.task--message .dropdown .dropdown-menu[data-popper-placement="top-end"]:before {
    border-color: #7BCCB8 transparent transparent;
    right: 5px;
    top: auto;
    bottom: -16px;
}

.task--message .dropdown .dropdown-item {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    background: none;
    border-bottom: 0;
    display: block;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

.task--message .dropdown .dropdown-item button {
    display: block;
    color: #ffffff;
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 0.5rem .75rem;
    opacity: 1;
}

.message--edit {
    background: #6fccb81a;
    padding: .5rem;
    border-radius: 0.5rem;
    margin: .5rem 0 .75rem;
}

.rmdp-ep-arrow {
    border: 0;
    padding: 0;
    min-height: auto;
    border-radius: 0;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
}

.rmdp-ep-arrow[direction=top] {
    opacity: 0;
}

.modal .rmdp-input {
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.rmdp-header {
    margin-top: 0;
    padding: 0;
}

.rmdp-ep-arrow+div, .modal .rmdp-input+div {
    position: relative !important;
    transform: none !important;
}

.rmdp-calendar {
    padding: 0;
}

.rmdp-calendar, .rmdp-top-class {
    width: 100%;
}

.rmdp-day-picker {
    width: 100%;
    display: block !important;
}

.rmdp-wrapper {
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
    border: 0;
    padding: 0;
    width: 100%;
}

.rmdp-range {
    border-radius: 50%;
    background-color: #2484c8;
}

.rmdp-day.rmdp-today span {
    background-color: #6fbeef;
}

.rmdp-day, .rmdp-week-day {
    border-radius: 50%;
}

.rmdp-week, .rmdp-ym {
    margin-bottom: .25rem;
}

.project--form--inputs form .task--date--picker, .project--form--inputs form .task--date--change {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.25rem;
    cursor: pointer;
}

.timeline--container .timeline--blip {
    position: relative;
    padding-bottom: 20px;
    padding-left: 40px;
    text-align: left;
}

.timeline--blip--status {
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 18px;
    content: '';
    background: #eeeeee;
    border-radius: 100px;
}

.timeline--container .timeline--blip--line {
    content: '';
    position: absolute;
    top: 1em;
    height: 95%;
    left: .55em;
    width: 1px;
    background: #d6d7d6;
}

.timeline--container .timeline--blip:last-child .timeline--blip--line {
    display: none;
}

.blip--container p {
    margin-bottom: 0;
}

.task--cr--status {
    font-size: 13px;
}

.ql-editor ol, .ql-editor ul {
    padding-left: 1rem;
}

.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 0;
}

@media (min-width:426px) {
    .add--team--member--modal form .d-md-none {
        display: none;
    }

    .add--member--modal form .form-group {
        flex: 1 1;
    }
}

@media screen and (max-width:1499px) {
    ul#subtasks-ul .form-group svg {
        opacity: 1;
    }

    ul#subtasks-ul .form-group button {
        opacity: 1;
    }
}

@media screen and (max-width:1199px) {
    .file--preview--modal .file--flex .list-group {
        max-width: 40%;
    }

    .file--preview--modal .file--preview {
        max-width: 60%;
    }
}

@media screen and (max-width:576px) {
    .file--preview--modal .file--flex .list-group {
        max-width: 100%;
        flex: none;
    }

    .file--preview--modal .file--preview {
        max-width: 100%;
    }

    .file--preview--modal .file--flex {
        flex-flow: column wrap;
        gap: 15px;
    }

    .file--preview--modal .modal-title .dropdown {
        display: none;
    }

    .add--team--member--modal form .form-row, .add--team--member--modal form .form-row {
        gap: 5px;
    }
    
    .add--team--member--modal .select--dropdown .dropdown-menu {
        width: 90%;
    }
}

@media screen and (max-width:425px) {
    .add--member--modal form .form-group {
        flex: auto;
    }
}