/*-=-=-=-===
Sidebar CSS-=-=
=-==-=-=*/

.module__wrapper {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.panel--sidebar {
  max-width: 16rem;
  flex: 1 1 100%;
  background: linear-gradient(to bottom right, #0f172a, #1e293b);
  border-right: 1px solid rgb(239, 239, 239);
  position: fixed;
  width: 16rem;
  min-width: 16rem;
  z-index: 1;
}

.team--page {
  flex: 1 1 100%;
  max-width: calc(100% - 16rem);
  margin-left: 16rem;
}

.navbar-brand {
  margin: 0;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 80px;
  border-bottom: 1px solid #33415580;
  /* margin-bottom: 1.2rem; */
}

.navbar-brand img,
.dashboard--page .navbar-brand img {
  max-width: 120px;
  display: block;
}

.navbar-brand span {
  background: linear-gradient(to right,rgba(var(--theme-primary), 1),rgba(var(--theme-secondary), 1));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .75rem;
  -webkit-border-radius: .75rem;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-right: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}

.navbar-brand span img, .dashboard--page .navbar-brand span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 25px;
}

.panel--sidebar .dropdown-toggle {
    padding: .85rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid rgb(203 213 225 / 10%);
    height: auto;
    background: #1e293b80;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.panel--sidebar .dropdown-toggle::before {
    position: absolute;
    content: '\276E';
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: 12px;
    top: auto;
    bottom: auto;
    margin: auto;
    left: auto;
}

.panel--sidebar .dropdown-toggle.show::before {
  transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.panel--sidebar .dropdown-toggle:after {
  display: none;
}

.panel--sidebar .user--dropdown .dropdown-toggle {
  background: linear-gradient(to right, #3b82f625, #06b6d425);
  border: 1px solid #4755694d;
  border-radius: .75rem;
  -webkit-border-radius: .75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  padding: 20px;
}

.panel--sidebar .user--dropdown .dropdown-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.dropdown-menu[data-bs-popper],
.panel--sidebar .dropdown-menu {
  left: 30px;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 2px #001e0026;
  -webkit-box-shadow: 0px 0px 10px 2px #001e0026;
  padding: 0;
  background: #ffffff;
  padding: 0;
  min-width: 16rem;
}

.panel--sidebar .dropdown-menu {
    border: 1px solid #47556980;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    -webkit-box-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    padding: .5rem;
    background: rgb(30 41 59);
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    left: 0;
    right: 0;
    margin: auto;
}

.dropdown-menu .menu--scroll {
  max-height: calc(100dvh - 120px);
  overflow-y: auto;
}

.user--info {
  padding: 0;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.user--info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 0;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
}

.user--info h4 {
  margin: 0;
}

.user--info h4 small {
  display: block;
  font-weight: normal;
}

.panel--sidebar .dropdown-menu h3 {
  color: rgb(148 163 184);
  letter-spacing: .025em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1rem;
  padding: .5rem .75rem;
  margin: 0;
}

.panel--sidebar .dropdown-menu::before {
  content: "";
  display: none;
  height: 0;
  box-shadow: -2px 2px 3px -1px #001e0026;
  -webkit-box-shadow: -2px 2px 3px -1px #001e0026;
  left: 15px;
  margin: auto;
  position: absolute;
  bottom: -10px;
  width: 20px;
  height: 10px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  background: rgb(30 41 59);
}

.panel--sidebar .dropdown .dropdown-item {
  color: rgb(203 213 225);
  font-weight: 500;
  font-size: .875rem;
  background: none;
  border-bottom: 0;
  display: flex;
  padding: .5rem .75rem;
  text-decoration: none;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  cursor: pointer;
}

.panel--sidebar .dropdown .dropdown-item:hover {
  background: #33415580;
  color: #ffffff;
}

.panel--sidebar .dropdown a.logout--btn {
  color: rgb(252 165 165);
}

.panel--sidebar .dropdown a.logout--btn:hover {
  background: #ef44441a;
  color: rgb(254 202 202);
}

.panel--sidebar .dropdown a.logout--btn .nav--item--icon {
  background: #ef444433;
  color: rgb(248 113 113);
}

.panel--sidebar .dropdown a.logout--btn .nav--item--icon svg {
  color: rgb(248 113 113);
}

.panel--sidebar .dropdown-toggle h4 {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
   font-size: 13px;
    font-weight: 500;
    gap: .35rem;
}

.panel--sidebar .dropdown-toggle h4 small {
  font-size: .75rem;
  color: rgb(203 213 225 / 70%);
  font-weight: normal;
}

.panel--sidebar .dropdown .dropdown-item:last-child {
  border-bottom: 0;
}

.panel--sidebar .dropdown a.active-workspace {
  /* background: rgb(203 213 225 / 10%); */
  color: rgb(203 213 225);
}

.panel--sidebar .dropdown .dropdown-item svg {
  font-size: 20px;
  margin-right: .5rem;
  min-width: 22px;
}

.panel--sidebar .dropdown .dropdown-item .initial--name {
  align-items: center;
  background: rgb(203 213 225 / 10%);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  color: #ffffff;
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  height: 25px;
  width: 25px;
  min-width: 25px;
  justify-content: center;
  margin-right: .5rem;
  padding: .25rem 0;
  text-align: center;
  text-transform: uppercase;
}

.panel--sidebar .dropdown a.active-workspace .initial--name {
  background: linear-gradient(to right,rgba(var(--theme-primary), 1),rgba(var(--theme-secondary), 1));
  color: #ffffff;
}

.navbar {
  padding: 0;
}

.panel--sidebar .navbar {
  display: block !important;
  background: transparent;
  height: 100dvh;
}

.panel--sidebar .navbar-expand-lg .navbar-collapse {
  max-height: calc(100% - 290px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 2rem;
  /* min-height: 100%; */
}

.panel--sidebar .navbar-expand-lg .navbar-collapse::-webkit-scrollbar {
  width: 4px;
}

.panel--sidebar .navbar-expand-lg .navbar-collapse::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: none;
}

.panel--sidebar .navbar-expand-lg .navbar-collapse::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.navbar-expand-lg .navbar-collapse {
  background: transparent;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 .75rem;
  gap: .5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(203 213 225);
  font-weight: 500;
  font-size: 14px;
  padding: .75rem 1rem;
  text-align: left;
  border: 1px solid transparent;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  background: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.navbar-light .navbar-nav .nav-link strong {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link .nav--item--icon, .panel--sidebar .dropdown .dropdown-item .nav--item--icon {
  /* display: block; */
  margin: 0;
  margin-right: 0.5rem;
  background: rgb(203 213 225 / 10%);
  width: 28px;
  height: 28px;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.navbar-light .navbar-nav .nav-link .nav--item--icon svg, .panel--sidebar .dropdown .dropdown-item .nav--item--icon svg {
  font-size: 1rem;
  color: rgb(203 213 225);
  margin: 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
  padding: .75rem 1rem .75rem 2rem;
  border: 1px solid #fff3;
  background: linear-gradient(to right, #3b82f615, #06b6d415);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}

.navbar-light .navbar-nav .active>.nav-link .nav--item--icon,
.navbar-light .navbar-nav .nav-link.active .nav--item--icon,
.navbar-light .navbar-nav .nav-link.show .nav--item--icon,
.navbar-light .navbar-nav .show>.nav-link .nav--item--icon,
.navbar-light .navbar-nav .nav-link:focus .nav--item--icon, 
.panel--sidebar .dropdown .dropdown-item .theme--item--icon {
  color: #ffffff;
  background: linear-gradient(to right,rgba(var(--theme-primary), 1),rgba(var(--theme-secondary), 1));
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  background: rgb(203 213 225 / 10%);
}

.navbar-light .navbar-nav .nav-link.active strong {
  position: relative;
}

.navbar-light .navbar-nav .nav-link.active strong::before {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  width: .5rem;
  height: .5rem;
  content: '';
  position: absolute;
  background: linear-gradient(to right,rgba(var(--theme-primary), 1),rgba(var(--theme-secondary), 1));
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -15px;
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.navbar-light .navbar-nav .active>.nav-link svg,
.navbar-light .navbar-nav .nav-link.active svg,
.navbar-light .navbar-nav .nav-link.show svg,
.navbar-light .navbar-nav .show>.nav-link svg,
.navbar-light .navbar-nav .nav-link:focus svg,
.navbar-light .navbar-nav .nav-link:hover svg {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover svg {
  color: rgb(203 213 225);
}

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 22px;
  border: 0;
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  outline: none;
  width: 35px;
  height: 35px;
  padding: 0 5px;
  z-index: 222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler:focus,
.navbar-toggler:focus-within,
.navbar-toggler:focus-visible,
.open--panel--sidebar .navbar-toggler {
  box-shadow: none;
  outline: none;
}

.navbar-toggler.collapsed {
  background: transparent;
}

.navbar-toggler-icon {
  position: relative;
  background: url('../images/angle_left_icon.png') no-repeat center center;
  background-size: 20px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.open--panel--sidebar {
  transform: translateX(-100%);
}

.open--panel--sidebar~.team--page {
  max-width: calc(100% - 0rem);
  margin-left: 0rem;
}

.show--details.project-collapse, .view--project.project-collapse, .view--invitee.project-collapse {
  transform: translateX(-100%);
  flex: 0;
  max-width: 0;
}

.panel--sidebar .dropdown {
  position: sticky;
  bottom: 0;
  padding: 15px 15px 15px 12px;
  background: transparent;
  text-align: center;
}

.current--workspace .dropdown {
  position: relative;
  text-align: left;
  background: none;
  padding: 15px 15px 15px 12px;
  bottom: auto;
  margin-bottom: 15px;
  border-bottom: 1px solid #33415580;
}

.current--workspace .dropdown-menu::before {
    bottom: auto;
    top: -10px;
    transform: rotate(180deg);
    display: none;
}

.current--workspace .dropdown-toggle {
    padding: .85rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid rgb(203 213 225 / 10%);
    height: auto;
    background: #1e293b80;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.current--workspace .dropdown-toggle::before {
    position: absolute;
    content: '\276E';
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: 12px;
    top: auto;
    bottom: auto;
    margin: auto;
    left: auto;
}

.current--workspace .dropdown-toggle.show::before {
  transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.current--workspace .dropdown .initial--name {
  align-items: center;
  background: linear-gradient(to right,rgba(var(--theme-primary), 1),rgba(var(--theme-secondary), 1));
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  color: #ffffff;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  height: 35px;
  width: 35px;
  min-width: 35px;
  justify-content: center;
  margin-right: .5rem;
  padding: .25rem 0;
  text-align: center;
  text-transform: uppercase;
}

.panel--sidebar .current--workspace .dropdown-item {
  display: flex;
  align-items: center;
}

.current--workspace .dropdown-menu .menu--scroll {
  border-bottom: 1px solid #47556980;
  margin-bottom: .75rem;
  padding-bottom: .75rem;
}

.panel--sidebar .current--workspace .create--space {
  padding: 1rem .75rem;
}

.panel--sidebar .current--workspace .create--space:hover {
  background: #33415580;
  color: #ffffff;
}

.panel--sidebar .current--workspace .dropdown .dropdown-item svg {
  opacity: 0;
  margin: 0;
}

.panel--sidebar .current--workspace .dropdown a.active-workspace svg {
  opacity: 1;
  color: #3b82f6;
}

.panel--sidebar .current--workspace .dropdown .dropdown-item .initial--name svg {
    opacity: 1;
    font-size: .75rem;
    margin: 0;
    color: #ffffff;
}

.current--workspace .dropdown-toggle strong {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
}

.current--workspace .dropdown-toggle strong small {
  font-size: .75rem;
  color: rgb(203 213 225 / 70%);
  font-weight: normal;
}

.theme--modal .modal-header {
  padding: 1.5rem;
  color: #ffffff;
  background: linear-gradient(to right,#1e293b,#334155);
  margin-bottom: 0;
  border-radius: 12px 12px 0 0;
}

.theme--modal .modal-body {
  padding: 1.5rem;
}

.theme--modal .modal-title span.nav--item--icon {
  background: #fff3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
}

.theme--modal .modal-header .btn-close {
    top: auto;
    right: auto;
    z-index: 111;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    backdrop-filter: blur(4px);
    background: #fff3;
    color: #fff3;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    --bs-btn-close-bg: none;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    display: flex;
    padding: 0;
    font-size: .75rem;
    opacity: 1;
    position: relative;
}

.theme--modal .modal-header .btn-close:after, .theme--modal .modal-header .btn-close::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: '';
  height: 2px;
  width: 14px;
  background: #ffffff;
}

.theme--modal .modal-header .btn-close:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.theme--modal .modal-header .btn-close::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.theme--modal .modal-header .btn-close:hover {
  background: #ffffff4d;
}

.theme--modal .modal-title strong {
    display: flex;
    flex-flow: column wrap;
    line-height: 1;
    font-size: 20px;
    gap: .5rem;
}

.theme--modal .modal-title strong small {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: normal;
}

.theme--modal .modal-content {
  overflow: hidden;
}

.theme--modal .modal-title {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.theme--card {
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  padding: 1rem;
  border: 2px solid rgb(226 232 240);
  border-radius: 1rem;
   position: relative;
}

.theme--card:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}

.theme--card.active--theme {
  border: 2px solid rgb(148 163 184);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}

.theme--card .card-body {
  padding: 0;
  padding-top: 1rem;
}

.themg--bg {
  border-radius: .75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  -webkit-border-radius: .75rem;
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}

.theme--card .card-title {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.theme--card .card-text {
  font-size: .75rem;
  line-height: 1rem;
  margin: 0;
}

.theme--modal label.create--custom {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: 2px dashed rgb(203 213 225);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    gap: 1rem;
    cursor: pointer;
}

.theme--modal label.create--custom:hover {
    border: 2px dashed rgb(148 163 184);
}

.theme--modal label.create--custom svg {
  font-size: 1.5rem;
}

.theme--modal label.create--custom strong {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    font-size: 1rem;
}

.theme--modal label.create--custom strong small {
  font-weight: normal;
  font-size: .875rem;
}

.theme--modal .create--option h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme--modal .create--option h5 .btn {
  border: 0;
  color: rgb(71 85 105);
  text-decoration: none;
  padding: 0;
}

.theme--modal .preview--theme {
  padding: 1.5rem;
  background-color: rgb(248 250 252);
  border: 1px solid rgb(226 232 240);
  border-radius: 1rem;
  margin: 0 0 1rem;
}

.theme--modal .preview--theme div {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  height: 5rem;
}

.theme--modal .form-control-color {
    width: 100%;
    height: calc(1.5em + 1.75rem + calc(var(--bs-border-width) * 2));
    padding: .1rem;
}

.theme--modal .form-label {
  font-weight: 600;
  margin: 0.15rem;
}

.theme--modal .btn--group .btn {
    flex: 1 1;
}

@media screen and (max-width:1199px) {
  .navbar-toggler {
    right: 0;
  }

  .page--title .search-filter-list .form-group .form-control {
    min-width: 190px;
  }

  .collapse:not(.show) {
    display: block;
  }

  .panel--sidebar {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    z-index: 2;
  }

  .open--panel--sidebar {
    transform: translateX(-100%);
}

  .team--page {
    max-width: calc(100% - 16rem);
    margin-left: 16rem;
  }

  .view--project .open--sidebar,
  .show--project .open--sidebar,
  .open--panel--sidebar~.team--page .open--sidebar {
    display: inline-flex;
  }

  span.open--sidebar {
    display: inline-flex;
  }
}
@media screen and (max-width:992px) {
  .panel--sidebar {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }

  .open--panel--sidebar {
    transform: translateX(0%);
  }

  .team--page {
    max-width: calc(100% - 0rem);
    margin-left: 0rem;
  }

  .open--panel--sidebar~.team--page {
    max-width: calc(100% - 0rem);
    margin-left: 0rem;
    opacity: .8;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
  }
}

@media screen and (max-width:767px) {
  .panel--sidebar {
    transform: translateX(0) translateY(100%);
    -webkit-transform: translateX(0) translateY(100%);
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    border: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
  }

  .team--page {
    max-width: calc(100% - 0rem);
    margin-left: 0rem;
  }

  .open--panel--sidebar {
    max-width: 100%;
    width: 100%;
    min-width: auto;
    z-index: 222;
    transform: translateX(0) translateY(0%);
    -webkit-transform: translateX(0) translateY(0%);
    height: 100%;
  }

  .open--panel--sidebar~.team--page {
    max-width: calc(100% - 0rem);
    margin-left: 0;
  }

  .open--sidebar,
  .show--project .open--sidebar,
  .open--panel--sidebar~.team--page .open--sidebar,
  span.open--sidebar {
    display: none !important;
  }

  .panel--sidebar .navbar {
    height: auto;
  }

  .navbar-toggler {
    display: block !important;
    position: fixed;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
    border-radius: 100px;
    width: 70px;
    height: 70px;
  }

  .panel--sidebar .dropdown-menu {
    width: calc(100% - 25px);
  }

  .navbar-toggler-icon {
    background: url('../images/hamburger_icon.png') no-repeat center center;
    background-size: 20px;
  }

  .navbar-toggler.collapsed  {
    background: linear-gradient(to bottom right, #0f172a, #1e293b);
  }

  .open--panel--sidebar .navbar-toggler.collapsed  {
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    left: auto;
    top: 15px;
    right: 1rem;
    width: 50px;
    height: 50px;
  }

  .open--panel--sidebar .navbar-toggler.collapsed .navbar-toggler-icon {
    background: url('../images/close_icon.png') no-repeat center center;
    background-size: 25px;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-light .navbar-nav .nav-link {
    flex: 1 1 100%;
    max-width: calc(50% - 0.5rem);
    flex-flow: column wrap;
    gap: 1rem;
    padding: 2rem 1rem;
    justify-content: center;
  }

  .panel--sidebar .navbar-expand-lg .navbar-collapse {
    max-height: calc(100dvh - 306px);
    padding-bottom: 2rem;
  }

  .navbar-light .navbar-nav .nav-link .nav--item--icon, .panel--sidebar .dropdown .dropdown-item .nav--item--icon {
    margin-right: 0;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:focus {
    padding: 2rem 1rem;
  }
}